footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: 0;

  position: relative;
  z-index: 10;

  a {
    cursor: pointer;
    pointer-events: auto;
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: #4f6ef7;
  }

  svg {
    width: 1.1em !important;
    height: 1.1em !important;
    margin-right: 10px;
  }

  p {
    font-size: 0.8em;
  }
}