footer {
    text-align: center;
    padding-top: 00px;
    padding-bottom: 50px;
    margin-top: -70px; 

    svg {
        width: 1.1em !important;
        height: 1.1em !important;
        margin-right: 10px;
    }

    p {
        font-size: 0.8em;
    }
}